/*
    See the JupyterLab Developer Guide for useful CSS Patterns:

    https://jupyterlab.readthedocs.io/en/stable/developer/css.html
*/

[data-jp-theme-light='true'] {
  --nv-custom-tick-color: #000;
  --nv-custom-chart-title-color: #000;
}

[data-jp-theme-light='false'] {
  --nv-custom-tick-color: #ff7900;
  --nv-custom-chart-title-color: #ff7900;
}

.gpu-dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: stretch; /* Stretch buttons across the div */
  padding: 10px;
  background-color: var(--jp-layout-color1);
  font-family: 'Courier New', Courier, monospace;
  word-spacing: 5px;
  font-variant: all-small-caps;
}

.gradient-background {
  background: linear-gradient(
    to bottom,
    var(--jp-layout-color0),
    var(--jp-layout-color1)
  );
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  font-family: 'Courier New', Courier, monospace;
  word-spacing: 5px;
  font-variant: all-small-caps;
}

.gpu-dashboard-header {
  font-size: 25px; /* Adjust font size */
  font-weight: bold;
  margin-bottom: 10px;
  align-self: flex-start; /* Left align the header */
  color: #ff7900;
}

.gpu-dashboard-divider {
  width: 100%;
  border: none;
  border-top: 1px solid #ff7900;
  margin: -8px -5px 10px 0px;
}

.gpu-dashboard-button {
  margin: 5px 0;
  padding: 10px 20px;
  background: transparent;
  color: #ff7900;
  cursor: pointer;
  max-width: 250px;
  display: block !important;
  text-align: left; /* Left align button text */
  font-size: 16px;
  border: 2px solid #ff3e00a8; /* Green border */
  transition:
    border 0.3s,
    box-shadow 0.3s; /* Add a transition effect */
}

.gpu-dashboard-button:hover {
  border: 2px solid #ff3e00a8; /* Green border on hover */
  box-shadow: 0 0 5px 2px #ff7900; /* Reduced blur for the glowing effect on hover */
}

.chart-title {
  padding-left: 62px;
  font-size: 22px;
  color: var(--nv-custom-chart-title-color);
}

.multi-chart-title {
  padding-left: 62px;
  font-size: 18px;
  color: var(--nv-custom-chart-title-color);
}

.custom-tooltip {
  background-color: var(--jp-layout-color1);
  color: var(--jp-ui-font-color0);
  font-size: 18px;
  border: 1px solid var(--jp-border-color1);
  padding: 8px; /* Add padding as needed */
  text-align: center;
}

.tooltip-title {
  font-weight: bold;
  margin-bottom: 4px; /* Add margin as needed */
  color: var(--nv-custom-chart-title-color);
}

.tooltip-value {
  margin-top: 4px; /* Add margin as needed */
}

.lm-TabBar-tabIcon {
  padding-right: 5px;
  margin-top: 3px;
}

.hidden-brush-for-sync {
  display: none !important;
}

.gpu-dashboard-toolbar-button {
  height: 40px;
}

.nv-icon-custom {
  stroke: #ff7900;
  fill: #ff7900;
  height: 10px !important;
  width: 20px;
}

.nv-icon-custom-time-series {
  stroke: #ff7900;
  fill: #ff7900;
}

.nv-axis-custom text {
  font-size: 18px;
  fill: var(--nv-custom-tick-color);
}

.nv-custom-legend {
  font-size: 18px;
}

.recharts-legend-item {
  font-size: 17px;
}
